@media screen {}

* {
    margin: 0;
    padding: 0;

}

body {
    min-width: 1920px;
    margin: 0;
    background: #202020;
}

.container {
    background: #202020;
    position: relative;
    text-align: center;
    width: 100%;
    height: 200px;
    border: 2px solid black;
    display: flex;

}

.main_name {
    display: inline-block;
    font-size: 30px;
    position: absolute;
    top: 40px;
    left: 50px;

}

.near_name {
    position: absolute;
    top: 100px;
    left: 100px;
    font-size: 20px;
}

.email {
    font-size: 20px;
    position: absolute;
    top: 80px;
    left: 600px;
}

.adress {
    font-size: 20px;
    position: absolute;
    top: 70px;
    right: 700px;
}

.number {
    font-size: 30px;
    position: absolute;
    top: 50px;
    right: 30px;
}

.navbar {
    background: black;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    margin-right: 10px;
    padding: 9px;
    margin-left: 160px;
    padding-left: 33px;
}

.navbar ul li:hover {
    background: gold;
}

.main_container {
    position: relative;
    width: 100%;
    height: 3000px;
    border: 4px solid black;
}